<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>Movies and Games Search Application</h1>
  <div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead">
      This is a simple movie search application, where users can search for
      their favourite movies and games including all of its details.
    </p>
    <hr class="my-4" />
    <p>This is created by Sajid Rizvi.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#inbeta" role="button" onclick="console.log('in beta')">Learn more about the Author</a>
    </p>
  </div>
</div>
<%- include("./partials/footer")%>
